// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..1000&display=swap');

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999;
}

$main-font: 'Work Sans';

$base-color: #eae7dc;
$secondary-color: #d8c3a5;
$dark-color: #8e8d8a;
$coral-color: #e98074;
$dark-coral-color: #e85a4f;

.App {
  text-align: center;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: $base-color;
  margin-top: 80px;
  font-family: $main-font;
}

.App-link {
  color: #61dafb;
}

div.bp3-navbar {
  padding: 15px;
  background-color: $base-color;
  height: unset;
}

div.bp3-navbar-heading {
  color: $dark-coral-color;
  font-family: $main-font;
  font-weight: 300;
  font-size: 22px;;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.d-flex {
  display: flex;
}

.justify-flex-end {
  justify-content: flex-end;
}

.hamburger-react {
  color: $dark-color;
}

div.sm-menu {
  font-family: $main-font;
  a button span {
    color: $dark-coral-color;
  }
  
}

@media (max-width: 767px) {
  div.sm-menu {
    display: none;
  }
}

@media (min-width: 768px) {

  .d-none-md, .hamburger-react {
    display: none;
  }
}

.wrapper {
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}

.bp3-form-group {
  display: flex;
  justify-content: flex-end;
}

.bp3-form-group label {
  padding: .5em 1em .5em 0;
  flex: 1;
  text-align: right;
}

@media only screen and (max-width: 1100px) {
  .bp3-form-group label {
    display:  none !important;
  }

  .add-container {
    width: 70vw !important;
  }
}

.bp3-form-content {
  padding: .5em 1em .5em 0;
  flex: 2;
}

.bp3-input-group input,
.form-row > button {
  padding: .5em;
}

.form-row > button {
 border: 0;
}

.add-container {
  width: 40vw;
}

div ul{
  list-style: none;
  padding: 0;
}